<div class="row">
  <div>
    <h3>
      <%= link_to "#{registered_application.name}", registered_application, class:'button-space' %>
      <% if current_user %>
        <%= link_to "Delete", registered_application, method: :delete, remote: true, class: 'btn btn-danger'%>
      <% end %>
    </h3>
  </div>
</div>
