<div align = "center">
  <h1>All Registered Applications</h1>
</div>
<div align = "right">
  <%= link_to "Add New App", new_registered_application_path, class: 'btn btn-default' %>
</div>

<%= render @registered_applications %>
