/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 html, body {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   font-weight: 300;
   line-height: 1.5;
   padding: 0px 3px;

 }

 body {
   font-family: 'Lato', sans-serif;
   font-size: 16px;
   background-image: url("");
   background-position: center top;
   background-size: cover;
   margin: 0;
   z-index: 20;
  //  background-color: #3498db;
 }
